body {
  margin-left: 200px;
  background-color: #FFE4E1;
  color: black;
}

h1 
{
	color:#17252a;
	margin-left: 200px;
}

h2
{
	color: #800000;
}

.ctxt { 
	color: #800000; 
}

.mag {
	color: #8B008B;
}

.rose {
	color: #BC8F8F;
}

.pale {
	color: #FFE4E1;
}

.dark {
	color: #483D8B;
}

.black {
	color: black;
}

#container {
  width: 80%;
  padding: 10px;
  border: 6px solid #800000;
  background: #BC8F8F;
}

#block {
  width: 40%;
  padding: 10px;
  border: 6px solid #800000;
  background: #BC8F8F;
}

ul.navbar {
  position: absolute;
  top: 30px;
  left: -12px;
  width: 150px;
  list-style-type: none;

}

ul.navbar li {
  margin: 25px 0 25px 0;
  padding: 5px;
  border-right: 1px solid #17252a;
  border-top: 1px solid #17252a;
  border-left: 10px solid #17252a;
  border-bottom: 1px solid #17252a;
  background: #800000
}

ul.navbar a {
  text-decoration: none

}

a:link {
  color: white;
}

a:visited {
  color: white;
}

#containeur {
  width: 80%;
  padding: 10px;
  border: 6px solid #800000;
}